#wrapper.gray-bg
  .wrapper.wrapper-content.animated.fadeInRight.center-block
    .col-xs-12
      .ibox
        .ibox-content
          - if params['programa'] == 'GCDP' || params['programa'] == 'GV'
            %h2 Seja o líder que o mundo precisa!
          - elsif params['programa'] == 'GIP' || params['programa'] == 'GT' || params['programa'] == 'GE'
            %h2 Traga o mundo para o seu currículo!
          = form_tag(expa_sign_up_success_path, method: 'post', class: 'wizard-big', id: 'form') do
            %input{name: 'programa', value: "#{params['programa']}", hidden: true}
            %input{name: 'campanha', value: "#{params['campanha']}", hidden: true}
            %h1
              .fa.fa-user
              Pessoal
            %fieldset{:style => "height: auto"}
              - flash.each do |name, msg|
                %p
                  = content_tag :div, msg.html_safe, class: name
              .row
                .col-xs-12.b-r
                  .form-group
                    %label Nome *
                    %input#name.form-control.required{:name => "name", :type => "text"}
                  .form-group
                    %label Sobrenome *
                    %input#lastname.form-control.required{:name => "lastname", :type => "text"}
                    .form-group
                    %label Telefone *
                    %input#phone.form-control.required{:name => "phone", :type => "text", "data-mask" => "+55 (99) 99999999?9"}
                  .form-group
                    %label E-mail *
                    %input#userName.form-control.required.email{:name => "email", :type => "text"}
                  .form-group
                    %label Data de Nascimento *
                    %input#dob.form-control.required{:name => "dob"}
                  .form-group
                    %label Senha *
                    %input#password.form-control.required{:name => "password", :type => "password", :minlength => "8"}

            %h1
              .fa.fa-graduation-cap
              Estudo
            %fieldset{:style => "height: auto"}
              .row
                .form-group
                  .col-xs-12.b-r
                    #study-level
                      %label Escolaridade *
                      %select.form-control.m-b.required#study-level-form{name: 'study-level'}
                        = options_for(study_level)
                    #university{hidden: true}
                      %label Universidade *
                      %select.form-control.m-b#university-form{name: 'university'}
                        = options_for(universities)
                    #course{hidden: true}
                      %label Curso *
                      %select.form-control.m-b#course-form{name: 'course'}
                        = options_for(courses)
                    %center
                      .fa.big-icon.fa-graduation-cap{style: 'color: gray'}
            %h1
              .fa.fa-plane
              Interesse
            %fieldset{:style => "height: auto"}
              .row
                .form-group
                  .col-xs-12.b-r
                    #sub-productrm-control.m-b.required{name: 'sub-product'}
                      - if params['programa'] == 'GCDP' || params['programa'] == 'GV'
                        %label Quero trabalhar por *
                        %select.form-control.m-b.required{name: 'sdg'}
                          = options_for(sdgs_we_work)
                      - elsif params['programa'] == 'GIP' || params['programa'] == 'GT'
                        %label Quero trabalhar com *
                        %select.form-control.m-b.required{name: 'sub-product'}
                          = options_for(sub_product_global_talent)
                      - elsif params['programa'] == 'GE'
                        %label Quero trabalhar com *
                        %select.form-control.m-b.required{name: 'sub-product'}
                          = options_for(sub_product_global_entrepreneur)
                      %label AIESEC mais próxima *
                      %select.form-control.m-b.required{name: 'nearest_lc'}
                        - if params['programa'] == 'GCDP' || params['programa'] == 'GV'
                          = options_for(entities_ogcdp)
                        - elsif params['programa'] == 'GIP' || params['programa'] == 'GT'
                          = options_for(entities_ogt)
                        - elsif params['programa'] == 'GE'
                          = options_for(entities_oge)
                    #travel_interest
                      %label Quando você tem interesse em viajar? *
                      %select.form-control.m-b.required{name: 'travel_interest'}
                        = options_for(travel_interest)
                    - if params['programa'] == 'GIP' || params['programa'] == 'GT' || params['programa'] == 'GE'
                      #english_level
                        %label Nível de Inglês *
                        %select.form-control.m-b.required{name: 'english_level'}
                          = options_for(language_level)
                      #spanish_level
                        %label Nível de Espanhol *
                        %select.form-control.m-b.required{name: 'spanish_level'}
                          = options_for(language_level)
                    #contact_interest
                      .form-group
                        %label  Preferêcia de contato
                        .i-checks
                          %label
                            .green-checkbox{:style => "position: relative;"}
                              %input{:style => "position: absolute; opacity: 0;", :type => "checkbox",:name => 'want_contact_by_email'}/
                              %ins.iCheck-helper{:style => "position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"}
                            %i
                            Email
                        .i-checks
                          %label
                            .green-checkbox{:style => "position: relative;"}
                              %input{:style => "position: absolute; opacity: 0;", :type => "checkbox",:name => 'want_contact_by_phone'}/
                              %ins.iCheck-helper{:style => "position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"}
                            %i
                            Ligação
                        .i-checks
                          %label
                            .green-checkbox{:style => "position: relative;"}
                              %input{:style => "position: absolute; opacity: 0;", :type => "checkbox",:name => 'want_contact_by_whatsapp'}/
                              %ins.iCheck-helper{:style => "position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"}
                            %i
                            Whatsapp

                    %input#accepTerms.required{name: 'acceptTerms', type: 'checkbox', 'aria-required' => true}
                    %label{for: 'acceptTerms'}
                      Eu concordo com os
                      %a{href: 'https://opportunities.aiesec.org/assets/terms.pdf', target: '_blank'} termos e condições.


- content_for :javascript do
  / Facebook Pixel Code
  :javascript
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '531154527045235');
    fbq('trackCustom', "PageView", {program:"#{params['programa']}"});
  %noscript
    %img{:height => "1", :src => "https://www.facebook.com/tr?id=531154527045235&ev=PageView&noscript=1", :style => "display:none", :width => "1"}/
  / End Facebook Pixel Code
