Olá #{manager_name},
%br/
%br/
= person_name
está finalizando a sua experiência de desenvolvimento de liderança através da oportunidade  #{link_to opportunity_title, "https://experience.aiesec.org/#/opportunities/#{opportunity_id}/applications"}.
%br/
%br/
Excelente momento para refletirmos se garantimos a entrega de valor do nosso serviço através dos 16 Standards:
%br/
https://hub.aiesec.org.br/standard-satisfaction/
%br/
%br/
Que tal lembrar #{person_name} sobre tudo que vivenciou?
%br/
%br/
= person_email
%br/
%br/
- if managers.any?
  EP Managers do(a) trainee:
  %br/
  %br/
  - managers.each do |manager|
    = "#{manager.name} - #{manager.email}"
    %br/
