Olá #{manager_name},
%br/
%br/
= person_name
esta finalizando a sua experiência de desenvolvimento de liderança através da oportunidade  #{link_to opportunity_title, "https://experience.aiesec.org/#/opportunities/#{opportunity_id}/applications"}.
%br/
%br/
Excelente momento para refletirmos se garantimos realmente desenvolvemos através dos 16 Standards:
%br/
https://hub.aiesec.org.br/standard-satisfaction/
%br/
%br/
Confirme se o LDA e a NPS foram preenchidas e informe o EP que a experiência dele será formalizada no sistema após a conclusão dessas etapas.
%br/
%br/
Que tal lembrar #{person_name} sobre tudo que vivenciou?
%br/
%br/
Entre em contato com o EP pelo e-mail #{person_email} e marque uma reunião de reintegração.
%br/
%br/
- if managers.any?
  Opportunity Managers:
  %br/
  %br/
  - managers.each do |manager|
    = "#{manager.name} - #{manager.email}"
    %br/
