Olá #{manager_name},
%br/
%br/
= person_name
acaba de assinar a Acceptence Note da oportunidade  #{link_to opportunity_title, "https://experience.aiesec.org/#/opportunities/#{opportunity_id}/applications"}.
%br/
%br/
Entre em contato com ele(a) através do email #{person_email} para alinhar os próximos passos necessários para ser aprovado na vaga.
%br/
%br/
Após o pagamento, certifique-se que o EP preencheu o LDA, formalize a aprovação no EXPA e entre em contato com o Opportunity Manager para finalizar o processo.
%br/
%br/
- if managers.any?
  Opportunity Managers:
  %br/
  %br/
  - managers.each do |manager|
    = "#{manager.name} - #{manager.email}"
    %br/
