.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Hosts
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-sm-8
      .ibox
        .ibox-content
          .input-group
            %input.input.form-control{:placeholder => "Pesquisar Host ", :type => "text"}
              %span.input-group-btn
                %button.btn.btn.btn-primary{:type => "button"}
                  %i.fa.fa-search
                  Search
          .clients-list
            %ul.nav.nav-tabs
              %span.pull-right.small.text-muted= "#{HostPerson.count} Pessoas"
              %li.active
                %a{"data-toggle" => "tab", :href => "#tab-1"}
                  %i.fa.fa-user
                  Leads
              %li
                %a{"data-toggle" => "tab", :href => "#tab-2"}
                  %i.fa.fa-child
                  Livres
              %li
                %a{"data-toggle" => "tab", :href => "#tab-3"}
                  %i.fa.fa-calendar-o
                  Alocados
              %li
                %a{"data-toggle" => "tab", :href => "#tab-4"}
                  %i.fa.fa-check
                  Realized
            .tab-content
              #tab-1.tab-pane.active
                .full-height-scroll
                  .table-responsive
                    %table.table.table-striped.table-hover
                      %br
                      %span
                        %button.btn.btn-success.fa.fa-star-o= " #{HostPerson.list_leads.list_favourites.count}"
                        %button.btn.btn-warning.fa.fa-warning= " #{HostPerson.list_leads.list_problematics.count}"
                        %button.btn.btn-danger.fa.fa-ban= " #{HostPerson.list_leads.list_non_grata.count}"
                      %br
                      %tbody
                        -HostPerson.list_leads.where({nearest_lc_id: session[:user_home_lc]}).each do |l|
                          %tr
                            %td.client-avatar
                              %img.img-circle{:alt => "image", :src => "http://3.bp.blogspot.com/-1p6nKAW6NlU/VD7kP9ILp4I/AAAAAAAAAOk/4m8ol2oPEgc/s1600/Whatsapp%2BFunny%2BProfile%2BPictures.jpg"}
                            %td
                              %a.client-link{"data-toggle" => "tab", :href => "##{l.full_name.gsub(" ", "")}"} 
                                =l.full_name
                            %td 
                              =l.city
                            %td.contact-type
                              %i.fa.fa-envelope
                            %td 
                              =l.email
                            %td.client-status
                              -if l.is_favourite == true
                                %span.label.label-primary Favorito


              #tab-2.tab-pane
                .full-height-scroll
                  .table-responsive
                    %br
                    %span
                      %button.btn.btn-success.fa.fa-star-o= " #{HostPerson.list_free.list_favourites.count}"
                      %button.btn.btn-warning.fa.fa-warning= " #{HostPerson.list_free.list_problematics.count}"
                      %button.btn.btn-danger.fa.fa-ban= " #{HostPerson.list_free.list_non_grata.count}"
                    %br
                    %table.table.table-striped.table-hover
                      %tbody
                        -HostPerson.list_free.where({nearest_lc_id: session[:user_home_lc]}).each do |l|
                          %tr
                            %td.client-avatar
                              %img.img-circle{:alt => "image", :src => "http://3.bp.blogspot.com/-1p6nKAW6NlU/VD7kP9ILp4I/AAAAAAAAAOk/4m8ol2oPEgc/s1600/Whatsapp%2BFunny%2BProfile%2BPictures.jpg"}
                            %td
                              %a.client-link{"data-toggle" => "tab", :href => "##{l.full_name.gsub(" ", "")}"} 
                                =l.full_name
                            %td 
                              =l.city
                            %td.contact-type
                              %i.fa.fa-envelope
                            %td 
                              =l.email
                            %td.client-status
                              -if l.is_favourite == true
                                %span.label.label-primary Favorito

              #tab-3.tab-pane
                .full-height-scroll
                  .table-responsive
                    %br
                    %span
                      %button.btn.btn-success.fa.fa-star-o= " #{HostPerson.list_allocated.list_favourites.count}"
                      %button.btn.btn-warning.fa.fa-warning= " #{HostPerson.list_allocated.list_problematics.count}"
                      %button.btn.btn-danger.fa.fa-ban= " #{HostPerson.list_allocated.list_non_grata.count}"
                    %br
                    %table.table.table-striped.table-hover
                      %tbody
                        -HostPerson.list_allocated.where({nearest_lc_id: session[:user_home_lc]}).each do |l|
                          %tr
                            %td.client-avatar
                              %img.img-circle{:alt => "image", :src => "http://3.bp.blogspot.com/-1p6nKAW6NlU/VD7kP9ILp4I/AAAAAAAAAOk/4m8ol2oPEgc/s1600/Whatsapp%2BFunny%2BProfile%2BPictures.jpg"}
                            %td
                              %a.client-link{"data-toggle" => "tab", :href => "##{l.full_name.gsub(" ", "")}"} 
                                =l.full_name
                            %td 
                              =l.city
                            %td.contact-type
                              %i.fa.fa-envelope
                            %td 
                              =l.email
                            %td.client-status
                              -if l.is_favourite == true
                                %span.label.label-primary Favorito



              #tab-4.tab-pane
                .full-height-scroll
                  .table-responsive
                    %br
                    %span
                      %button.btn.btn-success.fa.fa-star-o= " #{HostPerson.list_realized.list_favourites.count}"
                      %button.btn.btn-warning.fa.fa-warning= " #{HostPerson.list_realized.list_problematics.count}"
                      %button.btn.btn-danger.fa.fa-ban= " #{HostPerson.list_realized.list_non_grata.count}"
                    %br
                    %table.table.table-striped.table-hover
                      %tbody
                        -HostPerson.list_realized.where({nearest_lc_id: session[:user_home_lc]}).each do |l|
                          %tr
                            %td.client-avatar
                              %img.img-circle{:alt => "image", :src => "http://3.bp.blogspot.com/-1p6nKAW6NlU/VD7kP9ILp4I/AAAAAAAAAOk/4m8ol2oPEgc/s1600/Whatsapp%2BFunny%2BProfile%2BPictures.jpg"}
                            %td
                              %a.client-link{"data-toggle" => "tab", :href => "##{l.full_name.gsub(" ", "")}"} 
                                =l.full_name
                            %td 
                              =l.city
                            %td.contact-type
                              %i.fa.fa-envelope
                            %td 
                              =l.email
                            %td.client-status
                              -if l.is_favourite == true
                                %span.label.label-primary Favorito

    .col-sm-4
      .ibox
        .ibox-content
          .tab-content
            -HostPerson.all.each do |h|
              .tab-pane{id: h.full_name.gsub(" ","")}
                .row.m-b-lg
                  .col-lg-4.text-center
                    .m-b-sm
                      %img.img-circle{:alt => "image", :src => "http://3.bp.blogspot.com/-1p6nKAW6NlU/VD7kP9ILp4I/AAAAAAAAAOk/4m8ol2oPEgc/s1600/Whatsapp%2BFunny%2BProfile%2BPictures.jpg", :style => "width: 80px"}
                    %h3= h.full_name
                  .col-lg-1.widget.style1
                    .col-xs-5.text-center
                      %h2 0
                      .m-b-sm
                      -if h.is_non_grata == true
                        %span.badge.badge-danger Nongrata
                      -if h.is_problematic == true
                        %span.badge.badge-warning Problemático
                      -if h.is_favourite == true
                        %span.badge.badge-success Favorito

                  .col-lg-6.widget.style1
                    .col-xs-40.text-right
                      -if h.tmp_responsable_id == nil 
                        .m-b-sm
                          %img.img-circle{:alt => "image", :src => "http://www.emersonswan.com/ckfinder/userfiles/images/box-clipart-box5.png", :style => "width: 50px"}
                        .m-b-sm
                          =form_tag action: "add_tmp_responsable" do
                            =hidden_field_tag 'host_id', h.id
                            =button_tag({type: "submit", class: "btn btn-link"}) do 
                              %i.fa.fa-chain
                      -else
                        .m-b-sm
                          %img.img-circle{:alt => "image", :src => "http://theawesomer.com/photos/2010/06/060410_Facebook_profile_pic_1.jpg", :style => "width: 50px"}
                        -responsable = ExpaPerson.find(h.tmp_responsable_id)
                        .m-b-sm
                          %h3 responsable.full_name

                .client-detail
                  .full-height-scroll
                    %strong Dados Pessoais
                    %ul.list-group.clear-list
                      %li.list-group-item.fist-item
                        %span.pull-right= h.phone
                        Telefone
                      %li.list-group-item
                        %span.pull-right= h.email
                        Email
                      %li.list-group-item
                        %span.pull-right= h.address
                        Endereço
                      %li.list-group-item
                        %span.pull-right= h.postal_code
                        CEP
                      %li.list-group-item
                        %span.pull-right= h.state
                        Estado
                      %li.list-group-item
                        %span.pull-right= h.city
                        Cidade
                      %li.list-group-item
                        %span.pull-right= h.house_type
                        Tipo de Casa
                      %li.list-group-item
                        %span.pull-right= h.trainees_vacancy
                        Vagas para EPs
                      %li.list-group-item
                        %span.pull-right= h.weeks_vacancy
                        Tempo disponível
                    %strong Como conheceu a AIESEC
                    %p
                      = h.how_got_to_know_aiesec
                    %hr/
                    %button.btn.btn-w-m.btn-danger Problemas

           