.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Hosts
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-sm-8
      .ibox
        .ibox-content
          .input-group
            %input.input.form-control{:placeholder => "Pesquisar Host ", :type => "text"}
              %span.input-group-btn
                %button.btn.btn.btn-primary{:type => "button"}
                  %i.fa.fa-search
                  Search
          .clients-list
            %ul.nav.nav-tabs
              %span.pull-right.small.text-muted 1406 Elements
              %li.active
                %a{"data-toggle" => "tab", :href => "#tab-1"}
                  %i.fa.fa-user
                  Leads
              %li
                %a{"data-toggle" => "tab", :href => "#tab-2"}
                  %i.fa.fa-child
                  Livres
              %li
                %a{"data-toggle" => "tab", :href => "#tab-3"}
                  %i.fa.fa-calendar-o
                  Alocados
              %li
                %a{"data-toggle" => "tab", :href => "#tab-4"}
                  %i.fa.fa-check
                  Realized
            .tab-content
              #tab-1.tab-pane.active
                .full-height-scroll
                  .table-responsive
                    %table.table.table-striped.table-hover
                      %tbody
                        -HostPerson.list_leads.each do |l|
                          %tr
                            %td.client-avatar
                              %img.img-circle{:alt => "image", :src => "https://i.ytimg.com/vi/icqDxNab3Do/maxresdefault.jpg"}
                            %td
                              %a.client-link{"data-toggle" => "tab", :href => "##{l.full_name.gsub(" ", "")}"} 
                                =l.full_name
                            %td 
                              =l.city
                            %td.contact-type
                              %i.fa.fa-envelope
                            %td 
                              =l.email
                            %td.client-status
                              -if l.is_favourite == true
                                %span.label.label-primary Favorito
                        %tr
                          %td.client-avatar
                            %a{:href => ""}
                              %img{:alt => "image", :src => image_path('a6.jpg')}/
                          %td
                            %a.client-link{"data-toggle" => "tab", :href => "#contact-2"} Jasper Carson
                          %td Mone Industries
                          %td.contact-type
                            %i.fa.fa-phone                           
                          %td +400 468 921
                          %td.client-status
                            %span.label.label-primary Favorito
                        %tr

              #tab-2.tab-pane
                .full-height-scroll
                  .table-responsive
                    %table.table.table-striped.table-hover
                      %tbody
                        %tr
                          %td.client-avatar
                            %img.img-circle{:alt => "image", :src => "https://s-media-cache-ak0.pinimg.com/236x/18/45/66/18456632de3a8f75237c114ce7863a21.jpg"}
                          %td
                            %a.client-link{"data-toggle" => "tab", :href => "#contact-1"} 
                              João Silva
                          %td Tellus Institute
                          %td.contact-type
                            %i.fa.fa-envelope
                          %td gravida@rbisit.com
                          %td.client-status
                            %span.label.label-primary Favorito
                        %tr
                          %td.client-avatar
                            %a{:href => ""}
                              %img{:alt => "image", :src => image_path('a6.jpg')}/
                          %td
                            %a.client-link{"data-toggle" => "tab", :href => "#contact-2"} Jasper Carson
                          %td Mone Industries
                          %td.contact-type
                            %i.fa.fa-phone                           
                          %td +400 468 921
                          %td.client-status
                        %tr

              #tab-3.tab-pane
                .full-height-scroll
                  .table-responsive
                    %table.table.table-striped.table-hover
                      %tbody
                        %tr
                          %td.client-avatar
                            %img.img-circle{:alt => "image", :src => "https://s-media-cache-ak0.pinimg.com/236x/18/45/66/18456632de3a8f75237c114ce7863a21.jpg"}
                          %td
                            %a.client-link{"data-toggle" => "tab", :href => "#contact-1"} 
                              João Américo
                          %td Tellus Institute
                          %td.contact-type
                            %i.fa.fa-envelope
                          %td gravida@rbisit.com
                          %td.client-status
                            %span.label.label-primary Favorito
                        %tr
                          %td.client-avatar
                            %a{:href => ""}
                              %img{:alt => "image", :src => image_path('a6.jpg')}/
                          %td
                            %a.client-link{"data-toggle" => "tab", :href => "#contact-2"} Jasper Carson
                          %td Mone Industries
                          %td.contact-type
                            %i.fa.fa-phone                           
                          %td +400 468 921
                          %td.client-status
                        %tr

              #tab-4.tab-pane
                .full-height-scroll
                  .table-responsive
                    %table.table.table-striped.table-hover
                      %tbody
                        %tr
                          %td.client-avatar
                            %img.img-circle{:alt => "image", :src => "https://s-media-cache-ak0.pinimg.com/236x/18/45/66/18456632de3a8f75237c114ce7863a21.jpg"}
                          %td
                            %a.client-link{"data-toggle" => "tab", :href => "#contact-1"} 
                              João Américo
                          %td Tellus Institute
                          %td.contact-type
                            %i.fa.fa-envelope
                          %td gravida@rbisit.com
                          %td.client-status
                            %span.label.label-primary Favorito
                        %tr
                          %td.client-avatar
                            %a{:href => ""}
                              %img{:alt => "image", :src => image_path('a6.jpg')}/
                          %td
                            %a.client-link{"data-toggle" => "tab", :href => "#contact-2"} Jasper Carson
                          %td Mone Industries
                          %td.contact-type
                            %i.fa.fa-phone                           
                          %td +400 468 921
                          %td.client-status
                            %span.label.label-primary Favorito
                        %tr
                        
    .col-sm-4
      .ibox
        .ibox-content
          .tab-content
            -HostPerson.all.each do |h|
              .tab-pane{id: h.full_name.gsub(" ","")}
                .row.m-b-lg
                  .col-lg-8.text-center
                    %h2= h.full_name
                    .m-b-sm
                      %img.img-circle{:alt => "image", :src => "https://i.ytimg.com/vi/icqDxNab3Do/maxresdefault.jpg", :style => "width: 80px"}
                  .col-lg-3.widget.style1
                    .col-xs-5.text-center
                      %h2 0

                .client-detail
                  .full-height-scroll
                    %strong Dados Pessoais
                    %ul.list-group.clear-list
                      %li.list-group-item.fist-item
                        %span.pull-right= h.phone
                        Telefone
                      %li.list-group-item
                        %span.pull-right= h.email
                        Email
                      %li.list-group-item
                        %span.pull-right= h.address
                        Endereço
                      %li.list-group-item
                        %span.pull-right= h.postal_code
                        CEP
                      %li.list-group-item
                        %span.pull-right= h.state
                        Estado
                      %li.list-group-item
                        %span.pull-right= h.city
                        Cidade
                      %li.list-group-item
                        %span.pull-right= h.house_type
                        Tipo de Casa
                      %li.list-group-item
                        %span.pull-right= h.trainees_vacancy
                        Vagas para EPs
                      %li.list-group-item
                        %span.pull-right= h.weeks_vacancy
                        Tempo disponível
                    %strong Como conheceu a AIESEC
                    %p
                      h.
                    %hr/
                    %button.btn.btn-w-m.btn-danger Problemas

           