- breadcrumb :payments
#wrapper.gray-bg
  .wrapper.wrapper-content.animated.fadeInRight.center-block
    .col-xs-12
      .ibox
        .ibox-content
          .row
            .col-xs-10
              %h1
                Pagamentos
            .col-xs-2
              = link_to "Novo Pagamento", new_payment_path, class: "link-button"
          %fieldset{style: "height: auto"}
            #messages
              - flash.each do |name, msg|
                %p
                  = content_tag :div, msg.html_safe, class: name
            .row
              .col-xs-12.b-r
                .table-responsive
                  %table.table.table-striped
                    %thead
                      %tr
                        %th
                          = sortable("id", "ID")
                        %th.table-header-link
                          = sortable("customer_name", "Nome do EP")
                        %th
                          = sortable("local_committee", "Comitê Local")
                        %th
                          = sortable("program", "Programa")
                        %th
                          = sortable("application_id", "Aplicação")
                        %th
                          = sortable("value", "Valor")
                        %th
                          = sortable("status", "Status")
                        %th
                          = sortable("created_at", "Criado em")
                    %tbody
                      - payments.each do |payment|
                        %tr
                          %td= payment.id
                          %td
                            = link_to payment.customer_name, payment_path(id: payment.slug), :class => 'table-link'
                          %td= payment.local_committee.try(:name_key).try(:capitalize)
                          %td= payment.program.upcase
                          %td= payment.application_id
                          %td= Money.new(payment.value, "BRL").format
                          %td= enum_l(payment.pagarme_transactions.last, :status)
                          %td= l(payment.created_at)
                          %td
                            - if payment.pagarme_transactions.last.created?
                              = link_to 'Excluir',
                                payment_path(payment),
                                data: { confirm: 'Tem certeza?' },
                                method: :delete
            .row
              .col-xs-12.b-r
                = will_paginate payments, renderer: BootstrapPagination::Rails
