- breadcrumb :payment, payment
#wrapper.gray-bg
  .wrapper.wrapper-content.animated.fadeInRight.center-block
    .col-xs-12
      .ibox
        .ibox-content
          %h1
            Pagamento
          %fieldset{:style => "height: auto"}
            - flash.each do |name, msg|
              %p
                = content_tag :div, msg.html_safe, class: name
            .row
              .col-xs-12.b-r{ "data-payment-information" => "", "data-tag" => payment.tag, "data-payment-id" => payment.id }
                .col-lg-6
                  .form-group
                    %label= Payment.human_attribute_name :customer_name
                    %p.form-control-static
                      = payment.customer_name
                .col-lg-6
                  .form-group
                    %label= Payment.human_attribute_name :local_committee
                    %p.form-control-static{ "data-local-committee" => payment.local_committee.humanize }
                      = payment.local_committee.humanize
                .col-lg-6
                  .form-group
                    %label= Payment.human_attribute_name :program
                    %p.form-control-static{ "data-program" => payment.program.humanize }
                      = payment.program.upcase
                .col-lg-6
                  .form-group
                    %label= Payment.human_attribute_name :opportunity_name
                    %p.form-control-static{ "data-opportunity-name" => payment.opportunity_name.humanize }
                      = payment.opportunity_name.humanize
                .col-lg-6
                  .form-group
                    %label= Payment.human_attribute_name :value
                    %p.form-control-static{ "data-value" => payment.value }
                      = Money.new(payment.value, "BRL").format
                .col-lg-6
                  .form-group
                    %label= Payment.human_attribute_name :status
                    %p.form-control-static
                      = enum_l(payment, :status).try(:humanize)
                    - if payment.created?
                      %p.form-control-static
                        = render 'shared/payments/checkout.html.haml'
                - if payment.created? && payment.boleto_url
                  .col-lg-12
                    .form-group
                      %label= Payment.human_attribute_name :boleto_url
                      %p.form-control-static
                        = link_to payment.boleto_url, payment.boleto_url
            - if user_signed_in? && can?(:manage, payment)
              .row
                .form-group
                  = link_to "Voltar", :back, class: "link-button"
