- @archives.each do |file|
  -if file.is_deleted && (@user.get_role ==ExpaPerson.roles[:role_mc]|| @user.get_role ==ExpaPerson.roles[:role_eb])
    .file-box{ style: "opacity:0.3;"}
      .file
        %span.corner
        .image
          %img.img-responsive{alt: "image", src: "#{image_path('p1.jpg')}"}
        -path =  "/"+file.id.to_s+ "." +file.name.split(".").last
        .buttons
          .btn.btn-success
            %a{href: ($client.shares path)['url'], style: "color:fff;"}
              %i.fa.fa-eye
          .btn.btn-success
            %a{style: "color:fff;"}
              %i.fa.fa-edit
          .btn.btn-success
            %a{href:download(path), style: "color:fff;"}
              %i.fa.fa-download
        .file-name
          = file.name
          %br
          %small Adicionado em:
          = file.created_at.strftime('%dd %bbb %YYYY')
          %small Adicionado por:
          = file.person.xp_full_name.split(' ').first
          %small Entidade:
          = file.office.xp_name
          %small Tipo:
          = file.type_of_file
  -elsif !file.is_deleted
    .file-box
      .file
        %span.corner
        .image
          %img.img-responsive{alt: "image", src: "#{image_path('p1.jpg')}"}
        -path =  "/"+file.id.to_s+ "." +file.name.split(".").last
        .buttons
          .btn.btn-success
            %a{href: ($client.shares path)['url'], style: "color:fff;"}
              %i.fa.fa-eye
          .btn.btn-success
            %a{href:download(path), style: "color:fff;"}
              %i.fa.fa-download
          -if (file.is_private==true && (@user.get_role ==ExpaPerson.roles[:role_mc]|| @user.get_role ==ExpaPerson.roles[:role_eb]))|| !file.is_private
            %button.btn.btn-primary{"data-target" => "#editModal", "data-toggle" => "modal", :type => "button"}
              %a{href: archives_edit_path(file.id), remote: true, style: "color:fff;"}
                %i.fa.fa-edit
            = form_tag({action: :remove}, style: "display:inline;") do
              = hidden_field_tag(:id, file.id)
              = button_tag(type: "submit", class: "btn btn-success") do
                %i.fa.fa-remove
        .file-name
          = file.name
          %br
          %small Adicionado em:
          = file.created_at.strftime('%dd %bbb %YYYY')
          %small Adicionado por:
          = file.person.xp_full_name.split(' ').first
          %small Entidade:
          = file.office.xp_name
          %small Tipo:
          = file.type_of_file
#edit-modal.modal.fade