- @archives.each do |file|
  -if file.is_deleted
    .file-box{ style: "opacity:0.3;"}
      .file
        %span.corner
        .image
          -if file.get_file_type == Archive.type_of_files[:pdf]
            %i.icon-thumbnail.fa-file-pdf-o
          -elsif file.get_file_type == Archive.type_of_files[:word]
            %i.icon-thumbnail.fa-file-word-o
          -elsif file.get_file_type == Archive.type_of_files[:excel]
            %i.icon-thumbnail.fa-file-excel-o
          -elsif file.get_file_type == Archive.type_of_files[:ppt]
            %i.icon-thumbnail.fa-file-powerpoint-o
          -elsif file.get_file_type == Archive.type_of_files[:sound]
            %i.icon-thumbnail.fa-file-sound-o
          -elsif file.get_file_type == Archive.type_of_files[:video]
            %i.icon-thumbnail.fa-file-video-o
          -elsif file.get_file_type == Archive.type_of_files[:other]
            %i.icon-thumbnail.fa-file-archive-o
          -elsif file.get_file_type == Archive.type_of_files[:image]
            -if File.exist?('app/assets/images/thumbnails/thumb_'+file.id.to_s+'.jpg')
              %img.img-responsive{alt: "image", src: "#{image_path("thumbnails/thumb_#{file.id.to_s}.jpg")}"}
            -else
              %i.icon-thumbnail.fa-file-photo-o
        -path =  "/"+file.id.to_s+file.archive_extension
        .button-section
          .buttons
            -if file.get_file_type == Archive.type_of_files[:image]
              .btn.btn-success
                %a{href: ($client.media path)['url'], style: "color:fff;"}
                  %i.fa.fa-eye
            .btn.btn-success
              %a{href:archives_download_path(file.id), style: "color:fff;"}
                %i.fa.fa-download
            = form_tag({action: :restore_archive}, style: "display:inline;") do
              = hidden_field_tag(:id, file.id)
              %button.btn.btn-primary{ :type => "submit"}
                %i.fa.fa-recycle
        .file-name
          %div{:style => "width:100%; height: 15.56px;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;", "data-toggle"=>"tooltip", :title => "#{file.name}"}
            = file.name
          %br
          %small Adicionado em: #{file.created_at.strftime('%d %b %Y')}
          %br
          %small Adicionado por: #{file.person.xp_full_name.split(' ').first}
          %br
          %small Entidade: #{file.office.xp_name}
  -elsif !file.is_deleted
    .file-box
      .file
        %span.corner
        -path =  "/"+file.id.to_s+file.archive_extension
        -url = "https://"
        .image
          -if file.get_file_type == Archive.type_of_files[:pdf]
            %i.icon-thumbnail.fa-file-pdf-o
            -url = url+"docs.google.com/gview?url=#{($client.media path)['url']}&embedded=true"
          -elsif file.get_file_type == Archive.type_of_files[:word]
            %i.icon-thumbnail.fa-file-word-o
          -elsif file.get_file_type == Archive.type_of_files[:excel]
            %i.icon-thumbnail.fa-file-excel-o
          -elsif file.get_file_type == Archive.type_of_files[:ppt]
            %i.icon-thumbnail.fa-file-powerpoint-o
            -url = url+"docs.google.com/gview?url=#{($client.media path)['url']}&embedded=true"
          -elsif file.get_file_type == Archive.type_of_files[:sound]
            %i.icon-thumbnail.fa-file-sound-o
          -elsif file.get_file_type == Archive.type_of_files[:video]
            %i.icon-thumbnail.fa-file-video-o
          -elsif file.get_file_type == Archive.type_of_files[:other]
            %i.icon-thumbnail.fa-file-archive-o
          -elsif file.get_file_type == Archive.type_of_files[:image]
            -if File.exist?('app/assets/images/thumbnails/thumb_'+file.id.to_s+'.jpg')
              %img.img-responsive{alt: "image", src: "#{image_path("thumbnails/thumb_#{file.id.to_s}.jpg")}"}
            -else
              %i.icon-thumbnail.fa-file-photo-o
            -url = "#{($client.media path)['url']}"
        -path =  "/"+file.id.to_s+file.archive_extension
        .button-section
          .buttons
            -if file.get_file_type == Archive.type_of_files[:pdf] || file.get_file_type == Archive.type_of_files[:word] || file.get_file_type == Archive.type_of_files[:ppt] || file.get_file_type == Archive.type_of_files[:image]
              .btn.btn-success
                %a{href: url, target:'_blank',  style: "color:fff;"}
                  %i.fa.fa-eye
            .btn.btn-success
              %a{href:archives_download_path(file.id), style: "color:fff;"}
                %i.fa.fa-download
            -if (file.is_private==true && (@user.get_role ==ExpaPerson.roles[:role_mc]|| @user.get_role ==ExpaPerson.roles[:role_eb]))|| !file.is_private
              %button.btn.btn-primary{"data-target" => "#editModal", "data-toggle" => "modal", :type => "button"}
                %a{href: archives_edit_path(file.id), remote: true, style: "color:fff;"}
                  %i.fa.fa-edit
              = form_tag({action: :remove}, style: "display:inline;") do
                = hidden_field_tag(:id, file.id)
                = button_tag(type: "submit", class: "btn btn-success") do
                  %i.fa.fa-trash
        .file-name
          %div{:style => "width:100%; height: 15.56px;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;", "data-toggle"=>"tooltip", :title => "#{file.name}"}
            = file.name
          %small Adicionado em: #{file.created_at.strftime('%d %b %Y')}
          %br
          %small Adicionado por: #{file.person.xp_full_name.split(' ').first}
          %br
          %small Entidade: #{file.office.xp_name}
#edit-modal.modal.fade
