.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 Gavetão
    %ol.breadcrumb
      %li
        %a{href: main_url} Home
      %li.active
        %strong Gavetão

.wrapper.wrapper-content
  .row
    .col-lg-3
      .ibox.float-e-margins
        .ibox-content
          .file-manager
            %h5 Apresentar
            %a.file-control.active{href: "#"}Todos
            %a.file-control{href: "#"}PDF
            %a.file-control{href: "#"}Word
            %a.file-control{href: "#"}Excel
            %a.file-control{href: "#"}PPT
            %a.file-control{href: "#"}Imagens
            %a.file-control{href: "#"}Áudio (Roll Call)
            %a.file-control{href: "#"}Vídeos
            %a.file-control{href: "#"}Outros
            .hr-line-dashed
            %h5 Filtros
            %ul.folder-list{style: "padding: 0"}
              %li
                %a{href: "#"}
                  %i.fa.fa-star
                  Público
              %li
                %a{href: "#"}
                  %i.fa.fa-star-o
                  Privado
              %li
                %a{href: "#"}
                  %i.fa.fa-star-half
                  Público e Privado
            %h5.tag-title
              Tags
            %ul.tag-list{style: "padding: 0"}
              - Tag.all.each do |tag|
                %li
                  %a{href: "#"}
                  = tag.name
            %button.btn.btn-default.btn-block Filtrar
            .hr-line-dashed
            %button.btn.btn-primary.btn-block{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}Upload
            #myModal.modal.inmodal{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content.animated.bounceInRight
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %i.fa.fa-laptop.modal-icon
                    %h4.modal-title Modal title
                    %small.font-bold Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  .modal-body
                    .form-group
                      %label.font-noraml Multi select
                      .input-group
                        %select.chosen-select{"data-placeholder" => "Choose a Country...", :multiple => "multiple", :style => "width:350px;", :tabindex => "4"}
                          %option{:value => ""} Select
                          %option{:value => "United States"} United States
                          %option{:value => "United Kingdom"} United Kingdom
                      .ibox-title.back-change
                        :javascript
                            $(function() {
                              var config = {
                                  '.chosen-select': {},
                                  '.chosen-select-deselect': { allow_single_deselect: true },
                                  '.chosen-select-no-single': { disable_search_threshold: 10 },
                                  '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
                                  '.chosen-select-width': { width: "95%" }
                              }
                              for (var selector in config) {
                                  $(selector).chosen(config[selector]);
                              }
                            });
                    .form-group
                      %label Sample Input
                      %input.form-control{:placeholder => "Enter your email", :type => "email"}/
                  .modal-footer
                    %button.btn.btn-white{"data-dismiss" => "modal", :type => "button"} Close
                    %button.btn.btn-primary{:type => "button"} Save changes
.col-lg-9.animated.fadeInRight
  .row
    .col-lg-12
      - @files.each do |file|
        .file-box
          .file
            %a{href: "#"}
              %span.corner

              .image
                %img.img-responsive{alt: "image", src: "#{image_path('p1.jpg')}"}
              .file-name
                = file.name
                %br
                %small Adicionado em:
                = file.created_at.strftime('%dd %bbb %YYYY')
                %small Adicionado por:
                = file.person.xp_full_name.split(' ').first
                %small Entidade:
                = file.office.xp_name
                %small Tipo:
                = file.type_of_file
