.row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-10
        %h2 Clients
        %ol.breadcrumb
            %li
                %a{href: main_url} Home
            %li.active
                %strong Clients
    .col-lg-2

.wrapper.wrapper-content.animated.fadeInRight
    .row
        .col-sm-8
            .ibox
                .ibox-content
                    .text-muted.small.pull-right
                        Last modification:
                        %i.fa.fa-clock-o 
                        2:10 pm - 12.06.2014

                    %h2 Clients
                    %p All clients need to be verified before you can send email and set a project.
                    
                    .input-group
                        %input.input.form-control{:placeholder => "Search client ", :type => "text"}
                            %span.input-group-btn
                                %button.btn.btn.btn-primary{:type => "button"}
                                    %i.fa.fa-search
                                    Search
                    .clients-list
                        %ul.nav.nav-tabs
                            %span.pull-right.small.text-muted 1406 Elements
                            %li.active
                                = link_to '#tab-1', :'data-toggle' => "tab" do
                                    %i.fa.fa-user
                                    Contacts
                            %li
                                = link_to '#tab-2', :'data-toggle' => "tab" do
                                    %i.fa.fa-briefcase
                                    Companies

                        .tab-content
                            .tab-pane.active{id:"tab-1"}
                                .full-height-scroll
                                    .table-responsive
                                        %table.table.table-striped.table-hover
                                            %tbody
                                                %tr
                                                    %td.client-avatar
                                                        %img{alt:"image", src:image_path('a2.jpg')}
                                                    %td
                                                        = link_to "#contact-1", class:"client-link", :'data-toggle' => "tab" do
                                                            Anthony Jackson
                                                    %td
                                                        Tellus Institute
                                                    %td.contact-type
                                                        %i.fa.fa-clock-o 
                                                    %td
                                                        2:10 pm - 12.06.2014
                                                    %td.client-status
                                                        %span.label.label-primary Active
                                                %tr
                                                    %td.client-avatar
                                                        %img{alt:"image",src:image_path('a3.jpg')}
                                                    %td
                                                        =link_to "#contact-2", class:"client-link", :'data-toggle' => "tab" do
                                                            Rooney Lindsay
                                                    %td Proin Limited
                                                    %td.contact-type
                                                        %i.fa.fa-envelope
                                                    %td rooney@proin.com
                                                    %td.client-status
                                                        %span.label.label-primary Active

                                                - @people.each do |person|
                                                    %tr
                                                        %td.client-avatar
                                                            %img{alt:"image", src: "#{image_url person.xp_profile_photo_url}"}
                                                        %td.small
                                                            = link_to "#contact-1", class:"client-link", :'data-toggle' => "tab" do
                                                                = person.xp_full_name
                                                        %td
                                                            = person.get_sub_product_string
                                                        %td.contact-type
                                                            %i.fa.fa-clock-o
                                                        %td
                                                            = person.xp_created_at.strftime("%H:%M %m.%d.%Y")
                                                        %td.client-status
                                                            %span.label.label-primary
                                                                = person.xp_status
                                            
                            .tab-pane{id:"tab-2"}
                                .full-height-scroll
                                    .table-responsive
                                        %table.table.table-striped.table-hover
                                            %tbody
                                                %tr
                                                    %td
                                                        = link_to "#company-1", class:"client-link", :'data-toggle' => "tab" do
                                                            Tellus Institute
                                                    %td Rexton
                                                    %td
                                                        %i.fa.fa-flag
                                                        Angola
                                                    %td.client-status
                                                        %span.label.label-primary Active

                                                %tr
                                                    %td
                                                        = link_to "#company-2", class:"client-link", :'data-toggle' => "tab" do
                                                            Velit Industries
                                                    %td Maglie
                                                    %td 
                                                        %i.fa.fa-flag
                                                        Luxembourg
                                                    %td.client-status
                                                        %span.label.label-primary Active
        .col-sm-4
            .ibox
                .ibox-content
                    .tab-content
                        .tab-pane.active{id:"contact-1"}
                            .row.m-b-lg
                                .col-lg-4.text-center
                                    %h2 Nicki Smith

                                    .m-b-sm
                                        %img.img-circle{alt:"image", src:image_path('a2.jpg'), style:"width: 62px"}.
                                .col-lg-8
                                    %strong About me

                                    %p
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    %button.btn.btn-primary.btn-sm.btn-block{type:"button"}
                                        %i.fa.fa-envelope
                                        Send Message
                            .client-detail
                                .full-height-scroll
                                    %strong Last activity
                                    %ul.list-group.clear-list
                                        %li.list-group-item.fist-item
                                            %span.pull-right 09:00 pm
                                            Please contact me
                                        %li.list-group-item
                                            %span.pull-right 10:16 am
                                            Sign a contract
                                        %li.list-group-item
                                            %span.pull-right 08:22 pm
                                            Open new shop
                                        %li.list-group-item
                                            %span.pull-right 11:06 pm
                                            Call back to Sylvia
                                        %li.list-group-item
                                            %span.pull-right 12:00 am
                                            Write a letter to Sandra
                                    %strong Notes
                                    %p
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    %hr/
                                    %strong Timeline activity
                                    #vertical-timeline.vertical-container.dark-timeline
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-coffee
                                            .vertical-timeline-content
                                                %p
                                                    Conference on the sales results for the previous year.
                                                %span.vertical-date.small.text-muted
                                                    2:10 pm - 12.06.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-briefcase
                                            .vertical-timeline-content
                                                %p
                                                    Many desktop publishing packages and web page editors now use Lorem.
                                                %span.vertical-date.small.text-muted 4:20 pm - 10.05.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-bolt
                                            .vertical-timeline-content
                                                %p
                                                    There are many variations of passages of Lorem Ipsum available.
                                                %span.vertical-date.small.text-muted 06:10 pm - 11.03.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.navy-bg
                                                %i.fa.fa-warning
                                            .vertical-timeline-content
                                                %p
                                                    The generated Lorem Ipsum is therefore.
                                                %span.vertical-date.small.text-muted 02:50 pm - 03.10.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-coffee
                                            .vertical-timeline-content
                                                %p
                                                    Conference on the sales results for the previous year.
                                                %span.vertical-date.small.text-muted 2:10 pm - 12.06.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-briefcase
                                            .vertical-timeline-content
                                                %p
                                                    Many desktop publishing packages and web page editors now use Lorem.
                                                %span.vertical-date.small.text-muted 4:20 pm - 10.05.2014
            
                        #contact-2.tab-pane
                            .row.m-b-lg
                                .col-lg-4.text-center
                                    %h2 Edan Randall
                                    .m-b-sm
                                        %img.img-circle{:alt => "image", :src => image_path('a3.jpg'), :style => "width: 62px"}
                                .col-lg-8
                                    %strong
                                        About me
                                    %p
                                        Many desktop publishing packages and web page editors now use Lorem Ipsum as their default tempor       incididunt model text.
                                    %button.btn.btn-primary.btn-sm.btn-block{:type => "button"}
                                        %i.fa.fa-envelope
                                        Send Message
                            .client-detail
                                .full-height-scroll
                                    %strong Last activity
                                    %ul.list-group.clear-list
                                        %li.list-group-item.fist-item
                                            %span.pull-right 09:00 pm
                                            Lorem Ipsum available
                                        %li.list-group-item
                                            %span.pull-right 10:16 am
                                            Latin words, combined
                                        %li.list-group-item
                                            %span.pull-right 08:22 pm
                                            Open new shop
                                        %li.list-group-item
                                            %span.pull-right 11:06 pm
                                            The generated Lorem Ipsum
                                        %li.list-group-item
                                            %span.pull-right 12:00 am
                                            Content here, content here
                                    %strong Notes
                                    %p
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered  alteration in some form, by injected humour, or randomised words.
                                    %hr/
                                    %strong Timeline activity
                                    #vertical-timeline.vertical-container.dark-timeline
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-briefcase
                                            .vertical-timeline-content
                                                %p
                                                    Many desktop publishing packages and web page editors now use Lorem.
                                                %span.vertical-date.small.text-muted 4:20 pm - 10.05.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-bolt
                                            .vertical-timeline-content
                                                %p
                                                    There are many variations of passages of Lorem Ipsum available.
                                                %span.vertical-date.small.text-muted 06:10 pm - 11.03.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.navy-bg
                                                %i.fa.fa-warning
                                            .vertical-timeline-content
                                                %p
                                                    The generated Lorem Ipsum is therefore.
                                                %span.vertical-date.small.text-muted 02:50 pm - 03.10.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-coffee
                                            .vertical-timeline-content
                                                %p
                                                    Conference on the sales results for the previous year.
                                                %span.vertical-date.small.text-muted 2:10 pm - 12.06.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-briefcase
                                            .vertical-timeline-content
                                                %p
                                                    Many desktop publishing packages and web page editors now use Lorem.
                                                %span.vertical-date.small.text-muted 4:20 pm - 10.05.2014
                        
                        #company-1.tab-pane
                            .m-b-lg
                                %h2 Tellus Institute
                                %p
                                    Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,written in 45 BC. This book is a reatise on.
                                %div
                                    %small
                                        Active project completion with: 48%
                                        .progress.progress-mini
                                            .progress-bar{:style => "width: 48%;"}
                            .client-detail
                                .full-height-scroll
                                    %strong Last activity
                                    %ul.list-group.clear-list
                                        %li.list-group-item.fist-item
                                            %span.pull-right
                                                %span.label.label-primary NEW
                                            The point of using
                                        %li.list-group-item
                                            %span.pull-right
                                                %span.label.label-warning WAITING
                                            Lorem Ipsum is that it has
                                        %li.list-group-item
                                            %span.pull-right
                                                %span.label.label-danger BLOCKED
                                            If you are going
                                    %strong Notes
                                    %p
                                        Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                    %hr/
                                    %strong Timeline activity
                                    #vertical-timeline.vertical-container.dark-timeline
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-coffee
                                            .vertical-timeline-content
                                                %p
                                                    Conference on the sales results for the previous year.
                                                %span.vertical-date.small.text-muted 2:10 pm - 12.06.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-briefcase
                                            .vertical-timeline-content
                                                %p
                                                    Many desktop publishing packages and web page editors now use Lorem.
                                                %span.vertical-date.small.text-muted 4:20 pm - 10.05.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-bolt
                                            .vertical-timeline-content
                                                %p
                                                    There are many variations of passages of Lorem Ipsum available.
                                                %span.vertical-date.small.text-muted 06:10 pm - 11.03.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.navy-bg
                                                %i.fa.fa-warning
                                            .vertical-timeline-content
                                                %p
                                                    The generated Lorem Ipsum is therefore.
                                                %span.vertical-date.small.text-muted 02:50 pm - 03.10.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-coffee
                                            .vertical-timeline-content
                                                %p
                                                    Conference on the sales results for the previous year.
                                                %span.vertical-date.small.text-muted 2:10 pm - 12.06.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-briefcase
                                            .vertical-timeline-content
                                                %p
                                                    Many desktop publishing packages and web page editors now use Lorem.
                                                %span.vertical-date.small.text-muted 4:20 pm - 10.05.2014
                        #company-2.tab-pane
                            .m-b-lg
                                %h2 Penatibus Consulting
                                %p
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered      alteration in some.
                                %div
                                    %small Active project completion with: 22%
                                    .progress.progress-mini
                                        .progress-bar{:style => "width: 22%;"}
                            .client-detail
                                .full-height-scroll
                                    %strong Last activity
                                    %ul.list-group.clear-list
                                        %li.list-group-item.fist-item
                                            %span.pull-right
                                                %span.label.label-warning WAITING
                                            Aldus PageMaker
                                        %li.list-group-item
                                            %span.pull-right
                                                %span.label.label-primary NEW
                                            Lorem Ipsum, you need to be sure
                                        %li.list-group-item
                                            %span.pull-right
                                                %span.label.label-danger BLOCKED
                                            The generated Lorem Ipsum
                                    %strong Notes
                                    %p
                                        Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                    %hr/
                                    %strong Timeline activity
                                    #vertical-timeline.vertical-container.dark-timeline
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-coffee
                                            .vertical-timeline-content
                                                %p
                                                    Conference on the sales results for the previous year.
                                                %span.vertical-date.small.text-muted 2:10 pm - 12.06.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-briefcase
                                            .vertical-timeline-content
                                                %p
                                                    Many desktop publishing packages and web page editors now use Lorem.
                                                %span.vertical-date.small.text-muted 4:20 pm - 10.05.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-bolt
                                            .vertical-timeline-content
                                                %p
                                                    There are many variations of passages of Lorem Ipsum available.
                                                %span.vertical-date.small.text-muted 06:10 pm - 11.03.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.navy-bg
                                                %i.fa.fa-warning
                                            .vertical-timeline-content
                                                %p
                                                    The generated Lorem Ipsum is therefore.
                                                %span.vertical-date.small.text-muted 02:50 pm - 03.10.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-coffee
                                            .vertical-timeline-content
                                                %p
                                                    Conference on the sales results for the previous year.
                                                %span.vertical-date.small.text-muted 2:10 pm - 12.06.2014
                                        .vertical-timeline-block
                                            .vertical-timeline-icon.gray-bg
                                                %i.fa.fa-briefcase
                                            .vertical-timeline-content
                                                %p
                                                    Many desktop publishing packages and web page editors now use Lorem.
                                                %span.vertical-date.small.text-muted 4:20 pm - 10.05.2014