.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 OGX
    %ol.breadcrumb
      %li
        %a{href: main_url} Home
      %li.active
        %a{href: outgoing_exchange_dash_url} Análise
      %li
        %strong
          Gestão

  .col-lg-3
    %ul.nav.navbar-top-links.navbar-right
      %li
        %label Expansor / Expansão
        %select.form-control.m-b.required{name: 'local_committee'}
          - for i in 0...@expansor_expansions.count
            %option{value: "#{i}"}
              = @expansor_expansions[i][0]

  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title.text-center
          .center-block
            .form-group#data_5
              .input-daterange.input-group#datepicker
                %input.input-sm.form-control{type: 'text', name: 'start', value: "#{Time.new(Time.new.year, Time.new.month, 1).strftime('%d/%m/%Y')}"}
                %span.input-group-addon até
                %input.input-sm.form-control{type: 'text', name: 'start', value: "#{Time.new.strftime('%d/%m/%Y')}"}

            .btn-group{"data-toggle" => "buttons-checkbox"}
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                %i.fa.fa-smile-o.fa-2x{"data-toggle" => "tooltip", "data-placement" => "top", title: "EP Prioridade"}
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                %i.fa.fa-meh-o.fa-2x{"data-toggle" => "tooltip", "data-placement" => "top", title: "EP normal"}
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                %i.fa.fa-frown-o.fa-2x{"data-toggle" => "tooltip", "data-placement" => "top", title: "EP com dificuldades"}

            .btn-group{"data-toggle" => "buttons-checkbox"}
              %button.btn.btn-default{type: 'button', "aria-pressed" => false}
                %i.fa.fa-child.fa-2x{"data-toggle" => "tooltip", "data-placement" => "top", title: "GCDP"}
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                %i.fa.fa-globe.fa-2x{"data-toggle" => "tooltip", "data-placement" => "top", title: "Todos!!! (Incluindo pessoas antes do BAZICON está no ar)"}
              %button.btn.btn-default{type: 'button', "aria-pressed" => false}
                %i.fa.fa-briefcase.fa-2x{"data-toggle" => "tooltip", "data-placement" => "top", title: "GIP"}

            .btn-group{"data-toggle" => "buttons-checkbox"}
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                %div{"data-toggle" => "tooltip", "data-placement" => "top", title: "Open"} OP
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                %div{"data-toggle" => "tooltip", "data-placement" => "top", title: "In Progress"} IP
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                %div{"data-toggle" => "tooltip", "data-placement" => "top", title: "Accepted"} AC
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                %div{"data-toggle" => "tooltip", "data-placement" => "top", title: "Approved"} AP
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                %div{"data-toggle" => "tooltip", "data-placement" => "top", title: "Realized"} RE
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                %div{"data-toggle" => "tooltip", "data-placement" => "top", title: "Completed"} CO
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                %div{"data-toggle" => "tooltip", "data-placement" => "top", title: "Return Day"} RD

            .btn-group{"data-toggle" => "buttons-checkbox"}
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                Abordado
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                EPI
              %button.btn.btn-primary{type: 'button', "aria-pressed" => false}
                OPS

            .btn-group
              %button.btn.btn-success.btn-outline{type: 'button', "aria-pressed" => false}
                .fa.fa-search.fa-2x


        .ibox-content
          %input#filter.form-control.input-sm.m-b-xs{:placeholder => "Essa opção de busca ainda não foi programada", :type => "text"}
            %table.footable.table.table-stripped{"data-filter" => "#filter", "data-page-size" => "8"}
              %thead
                %tr
                  %th
                  %th.text-center Data Inscrição
                  %th
                  %th.text-center Nome
                  %th.text-center Sub-Produto
                  %th.text-center Universidade
                  %th.text-center Projeto
                  %th.text-center País/CL
                  %th.text-center Status
                  %th.text-center{"data-toggle" => "tooltip", "data-placement" => "top", title: "Abordado / EPI / OPS"} A/E/O
              %tbody
                - @people.each do |person|

                  %tr.gradeA
                    %td.text-center
                      .fa.fa-smile-o{style: "color: #00796B"}
                      .fa.fa-meh-o{style: "color: #00796B"}
                      .fa.fa-frown-o{style: "color: #00796B"}
                      - if person.list_programs.include?('GCDP') || person.interested_program == 'global_volunteer'
                        .fa.fa-child
                      - if person.list_programs.include?('GIP') || person.interested_program == 'global_talents'
                        .fa.fa-briefcase
                    %td.text-center
                      = person.xp_created_at.strftime('%d/%m/%y')
                    %td.text-center
                      %a{href: outgoing_exchange_detail_url + '?id=' + person.xp_id.to_s}
                        .client-avatar
                          %img{src: "#{image_url person.xp_profile_photo_url}"}
                    %td.text-center
                      %a{href: outgoing_exchange_detail_url + '?id=' + person.xp_id.to_s}
                        = person.xp_full_name
                    %td.text-center
                      = person.get_sub_product_string
                    %td.small.text-center
                      - if !person.customized_fields.nil? && JSON.parse(person.customized_fields).include?('universidade')
                        = DigitalTransformation.universities[JSON.parse(person.customized_fields)['universidade'].to_i]
                    %td.text-center
                      Projeto
                    %td.text-center
                      País + CL
                    %td.text-center
                      .label
                        = person.xp_status
                    %td.text-center
                      .fa.fa-check{style: "color: #8BC34A"}
                      .fa.fa-ban{style: "color: #F44336"}
                      .fa.fa-ban{style: "color: #F44336"}
              %tfoot
                %tr
                  %td{:colspan => "10"}
                    %ul.pagination.pull-right

- content_for :javascript do
  :javascript
    $(function() {

        function showTooltip(event, pos, item) {
          if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;

                $("#tooltip").remove();
                y = item.datapoint[1].toFixed(0);

                $('<div id="tooltip">' + item.datapoint[1].toFixed(0) + '</div>').css( {
                  position: 'absolute',
                  display: 'none',
                  top: item.pageY - 20,
                  left: item.pageX + 10,
                  border: '1px solid #fdd',
                  padding: '2px',
                  'background-color': '#fee',
                  opacity: 1
              }).appendTo("body").fadeIn(0);
            }
          }
          else {
            $("#tooltip").remove();
            clicksYet = false;
            previousPoint = null;
          }
        }

        $('#data_5 .input-daterange').datepicker({
          keyboardNavigation: false,
          forceParse: false,
          autoclose: true,
          format: 'dd/mm/yyyy',
          language: 'pt-BR'
        });

    $.getScript('//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js',function(){

    $('#main .img-responsive').lazyload({});


    });