/!!
%html{"ng-app" => "inspinia"}
  - controller_app = controller.controller_name.camelize(:lower)
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
          / Page title set in pageTitle directive
          %title{"page-title" => ""}

          / Include style per-controller - vendor plugins
          = stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css")

          / Main css styles
          = stylesheet_link_tag 'application', media: 'all'

          = csrf_meta_tags

  / ControllerAs syntax
  / Main controller with serveral data used in Inspinia theme on diferent view
  %body#page-top{:class => "{{$state.current.data.specialClass}}", "landing-scrollspy" => "", "ng-controller" => "MainCtrl as main"}
    / Main view
    %div{"ui-view" => ""}
    
    / Main Angular scripts
    /
      You need to include this script on any page that has a Google Map.
      When using Google Maps on your own site you MUST signup for your own API key at:
      https://developers.google.com/maps/documentation/javascript/tutorial#api_key
      After your sign up replace the key in the URL below..
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70", :type => "text/javascript"}
    / Anglar App Script
   
    / Main javascript files
    = javascript_include_tag 'angular/app.js'
    = javascript_include_tag 'angular/config.js'
    = javascript_include_tag 'angular/directives.js'
    = javascript_include_tag 'angular/controllers.js'